#root {
  min-width: 360px;
  max-width: 460px;
  margin: 0 auto;
  padding: 0 2rem;
  height: 100vh;
}

.app {
  height: 100%;
}

.header {
  font-weight: 800;
  padding: 16px 0;
}

.wrapperWithHeader {
  height: calc(100% - 35px);
}